<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <form action="/exercise-5/submission" method="post">
        <input type="text" placeholder="Enter Markdown" name="string">
        <button>Submit</button>
    </form>

</body>


</html>