<!DOCTYPE html>

<head>
    <title>
        Exercise-4
    </title>

</head>

<body>
    <form action="/exercise-4/result" method="post">
        <input type="text" placeholder="Search" name="string">
        <button>Submit</button>

    </form>

</body>

</html>