<!DOCTYPE html>

<head>
    <title>
        Exercise-3
    </title>
</head>

<body>
    <form action="/exercise-3/search" method="get">
        <input type="text" placeholder="Search" name="string">
        <button>Submit</button>

    </form>
</body>

</html>