<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <form action="/Blogs/submission" method="post">
        <div>
            <label for="text">Enter your data</label>
        </div>
        <textarea col="30" rows="8" name="text"></textarea>
        <div> <button>Submit</button></div>
    </form>

</body>


</html>