<!DOCTYPE html>

<head>
    <title>
        Exercise-3
    </title>
</head>

<body>
    <form action="/exercise-3" method="post">
        <input type="text" placeholder="Search" name="string">
        <button>Submit</button>

    </form>
    <h2>Search History</h2>
    <ul>
        <% for (line of lines){ %>
            <li>
                <%= line %>
            </li>
            <% } %>
    </ul>
    <form action="/exercise-3" method="post">
        <input type="hidden" name="clear" value=true>
        <button>Clear History</button>
    </form>

</body>

</html>