<!DOCTYPE html>
<html>

<head>
    <title>Post</title>
</head>

<body>
    <p>
        <a href="/Blogs/post">
            <button>Post</button>
        </a>
    </p>
    <% if(files) {%>
        <ol>

            <% files.forEach(file => {%>
                <% file=file.replace(/\.[^/.]+$/, "")%>
                    <li>
                        <a href="/Blogs/<%=file%>">
                            <%= file %>
                        </a>
                    </li>

                    <% }); %>
        </ol>
        <% }%>
</body>


</html>