<!DOCTYPE html>
<html>

<head>
    <title>Search Results</title>
</head>

<body>
    <h1>
        <p>Submitted Successfully</p>
        File saved as:
        <%= filename%>
    </h1>
    <p>
        <a href="/Blogs/post">Add a new file</a>
    </p>
    <p>
        <a href="/Blogs">Post Page</a>
    </p>
</body>


</html>